---
import { Image } from "astro:assets";
import ornament1 from "@assets/dekorasi/ornamen-1.png";
import ornament5 from "@assets/dekorasi/ornamen-5.png";
import ornamentBg from "@assets/dekorasi/bg-main-2.webp";
import DualHeading from "./DualHeading.astro";

const namaTamu = Astro.url.searchParams.get("nama");
---

<section class="relative h-full w-full overflow-hidden py-32">
  <div class="absolute -top-16 -left-6 lg:w-1/3 md:w-1/2 w-11/12">
    <Image src={ornamentBg} alt="ornament top left" class="-rotate-20" />
  </div>
  <div class="absolute -top-4 -right-2 lg:w-1/6 md:w-1/4 w-1/3">
    <Image src={ornament1} alt="ornament top right" class="rotate-180" />
  </div>
  <div
    class="absolute lg:-bottom-32 -bottom-16 -right-4 lg:w-1/2 md:w-1/2 w-11/12"
  >
    <Image src={ornamentBg} alt="ornament bottom right" class="rotate-160" />
  </div>
  <div class="absolute bottom-4 lg:bottom-16 -left-6 lg:w-1/6 md:w-1/4 w-1/3">
    <Image src={ornament5} alt="ornament b0ttom left" class="rotate-45" />
  </div>

  <div class="max-w-6xl mx-auto h-full flex flex-col items-center pb-8">
    <div class="mx-auto lg:w-1/8 md:w-1/6 w-1/4">
      <Image src={ornament5} alt="ornamen blue flower" />
    </div>
    <DualHeading word1="Wedding" word2="Wish" wordBg="WISH" />
    <div class="px-4 lg:w-auto sm:w-1/2 mb-4 space-y-4 mt-4">
      <div class="space-y-4">
        <p class="text-base max-w-md text-center">
          Kirimkan doa restu dan ucapan anda kepada kedua mempelai
        </p>

        <form
          action=""
          class="flex flex-col max-w-sm w-[90%] mx-auto mt-8 space-y-4"
        >
          <input
            type="text"
            class="mt-1 w-full py-2 px-3 text-sm border bg-gray-100 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-gray-500"
            placeholder="Nama"
            value={namaTamu || ""}
            required
          />
          <textarea
            class="mt-1 w-full py-2 px-3 text-sm border bg-gray-100 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-gray-500"
            placeholder="Ucapan/doa"
            rows="3"
            required></textarea>
          <button
            type="submit"
            class="bg-blueish-gray hover:cursor-pointer text-white font-semibold px-3 py-1.5 rounded-md w-fit"
          >
            Kirim
          </button>
        </form>
      </div>
    </div>

    <slot />
  </div>
  <p class="text-sm text-blue-jeans font-semibold text-center mb-2">
    3 Comments
  </p>
  <div class="px-4">
    <div
      class="mx-auto max-w-lg max-h-96 space-y-3 border border-gray-200 rounded-md py-4 px-2 overflow-scroll"
    >
      <div class="mx-auto space-y-1">
        <p class="text-sm text-blue-jeans font-semibold">Ben Sulayem</p>
        <p class="text-sm indent-2">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="mx-auto space-y-1">
        <p class="text-sm text-blue-jeans font-semibold">Ben Sulayem</p>
        <p class="text-sm indent-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in
          quisquam adipisci ut, sunt laudantium, alias corporis repellat
          inventore voluptates et neque debitis animi culpa non voluptatibus
          nobis eum aspernatur.
        </p>
      </div>
      <div class="mx-auto space-y-1">
        <p class="text-sm text-blue-jeans font-semibold">Ben Sulayem</p>
        <p class="text-sm indent-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in
          quisquam adipisci ut, sunt laudantium, alias corporis repellat
          inventore voluptates et neque debitis animi culpa non voluptatibus
          nobis eum aspernatur.
        </p>
      </div>
    </div>
  </div>

  <div class="mt-24 px-4">
    <p class="text-center sm:text-base text-sm font-medium">
      Menjadi sebuah kebahagiaan bagi kami apabila Bapak/Ibu/Saudara/i berkenan
      hadir dalam hari bahagia kami.
    </p>
    <p class="text-center font-medium text-xl font-playfair-display mt-8">
      Terima Kasih
    </p>
    <p class="text-center font-medium text-3xl font-playfair-display mt-2">
      Iin & Husnun
    </p>
  </div>
</section>
